@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales al body, main y aside */
body {
    background-color: #373867;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    height: 100%;
}

main {
    position: relative;
    width: 75%;
    height: 100%;
    left: 29%;
}

aside {
    background-color: #262862;
    position: fixed;
    width: 25%;
}

  /* Estilos al aside */
.search-container {
    background-color: #373867;
    padding-left: 50px;
    padding-top: 20px;
    min-height: 90px;
}

.search-container input {
    width: 280px;
    height: 50px;
    background-color: #262862;
    border: 1px solid #49A37B;
    border-radius: 5px;
}

.links-container {
    width: 350px;
    height: 10vh;
    margin-top: 50px;
}

.links-container ul li a {
    display: block;
    border-bottom: 1px solid #49A37B;
    margin-bottom: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
}

address div {
    padding-bottom: 20px;
    border-bottom: 1px solid #49A37B;
    margin-right: 30px;
    font-size: 14px;
    padding-top: 10px;
}

address div img {
    margin-right: 20px;
}

/* Estilos al titulo principal */
.main-title {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    padding-bottom: 0;
    border-bottom: 4px solid #49A37B;
    margin-right: 100px;
}

h1 {
    display: inline-block;
    padding-right: 60px;
    font-weight: 700;
    font-size: 40px;
}

.main-title p {
    display: inline;
}

.functions-container h2,
.article-container h2,
.contact-container h2,
.aboutUs-container h2 {
    width: fit-content;
    padding-bottom: 7px;
    margin-bottom: 60px;
    border-bottom: 4px solid #49A37B;
    font-size: 30px;
    font-weight: 700;
}

.timeTracker-container {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    border-bottom: 4px solid #49A37B;
}

.timeTracker-container h2 {
    font-size: 30px;
    font-weight: 700;
}

.timeTracker-container h3 {
    font-size: 20px;
    font-weight: 400;
}

.timeTracker-container p {
    width: 50%;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}

.timeTracker-container img {
    float: right;
    width: 45%;
}

.timeTracker-container a {
    padding: 14px 36px;
    background-color: #49A37B;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.functions-container {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    /* margin-right: 5%; */
    border-bottom: 4px solid #49A37B;
}

.functions-container div {
    display: inline-block;
    width: 42%;
    margin-bottom: 70px;
}

.trackWorkHours-management {
    margin-right: 60px;
}

.functions-container img {
    float: left;
    margin-right: 25px;
    margin-bottom: 19px;
}

.functions-container p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.functions-container h3 {
    font-size: 20px;
    font-weight: 400;
}

.article-container {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    /* margin-right: 5%; */
    border-bottom: 4px solid #49A37B;
}

.article {
    position: relative;
    display: inline-block;
    width: 15%;
    min-width: 220px;
    background-color: #FFFFFF;
    color: #373867;
    border-radius: 17px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.article img {
    position: absolute;
    right: 7px;
    top: 7px;
}

.article h3 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 700;
}

.article p {
    width: 85%;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
}

.contact-container {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    border-bottom: 4px solid #49A37B;
    margin-top: 150px;
    margin-left: 40px;
}

.contact-container h3 {
    border-bottom: 4px solid #49A37B;
    margin-right: 30px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
}

.contact-container p {
    font-size: 12px;
    font-weight: 400;
}

.contact-container label {
    display: block;
}

form input,
form select,
form textarea {
    margin-bottom: 50px;
    padding: 7px;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 5px;
    color: #FFFFFF;
}

form select,
form textarea {
    width: 100%;
}

form option {
    color: #373867;
}

.input-contact {
    width: 45%;
}

.submit {
    margin-right: 15px;
    padding: 10px 24px;
    border: 0;
    background: #49A37B;
    border-radius: 5px;
    color: #FFFFFF;
}

.reset {
    padding: 10px 24px;
    border: 0;
    background: #F13312;
    border-radius: 5px;
    color: #FFFFFF;
}

.aboutUs-container {
    width: 90%;
    padding-bottom: 50px;
    margin-left: 40px;
    border-bottom: 4px solid #49A37B;
}

.aboutUs-container h3 {
    font-size: 20px;
    font-weight: 400;
}

.aboutUs-container p {
    font-size: 12px;
    font-weight: 400;
}

.aboutUs-container img {
    display: inline-block;
}

.img-secondary2 {
    display: inline-block;
}

.paragraphs {
    width: 60%;
}

.fourth-paragraphs {
    float: left;
}

.lists-container {
    width: 90%;
    padding-bottom: 50px;
    margin-top: 0;
    margin-left: 40px;
    border-bottom: 4px solid #49A37B;
}

.lists-container h2 {
    font-size: 20px;
    font-weight: 400;
}

.lists {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.lists a {
    color: #FFFFFF;
    text-decoration: none;
}

.lists-container li {
    font-size: 12px;
    font-weight: 400;
}

.lists-groups {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.footer-container img {
    margin-left: 12px;
    margin-right: 12px;
}

.footer-container div {
    width: fit-content;
    margin-left: auto;
    margin-right: 350px;
    margin-top: 60px;
}

.footer-container p {
    width: fit-content;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 350px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}