@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales al body, main y aside */
body {
    background-color: #373867;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    height: 100%;
}

main {
    position: relative;
    width: 75%;
    height: 100%;
    left: 29%;
}

aside {
    background-color: #262862;
    position: fixed;
    width: 25%;
}

  /* Estilos al aside */
.search-container {
    background-color: #373867;
    padding-left: 50px;
    padding-top: 20px;
    min-height: 90px;
}

.search-container input {
    width: 280px;
    height: 50px;
    background-color: #262862;
    border: 1px solid #49A37B;
    border-radius: 5px;
}

.links-container {
    width: 350px;
    height: 10vh;
    margin-top: 50px;
}

.links-container ul li a {
    display: block;
    border-bottom: 1px solid #49A37B;
    margin-bottom: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
}

address div {
    padding-bottom: 20px;
    border-bottom: 1px solid #49A37B;
    margin-right: 30px;
    font-size: 14px;
    padding-top: 10px;
}

address div img {
    margin-right: 20px;
}