<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../styles/style.css">
      <link rel="stylesheet" href="../styles/reset.css">
      <link rel="stylesheet" href="../styles/aside.css">
      <link rel="stylesheet" href="../styles/footer.css">
      <link rel="stylesheet" href="../styles/header.css">
      <link rel="stylesheet" href="../styles/main.css">
      <title>Trackgenix</title>
    </head>
    <body>
      <aside>
        <section class="search-container">
          <input type="search" name="search" placeholder="Search" class="search" />
        </section>
        <section class="links-container">
          <ul>
            <li><a href="../views/index.html">Home</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="../views/login.html">Log In</a></li>
          </ul>
        </section>
        <section class="contacts-container">
          <h3>Get in touch</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <address>
            <div>
              <img src="../assets/iconAdress.png" alt="Icon Adress" />1245
              Sffeinvrjrs, Bnaudasd
            </div>
            <div>
              <img src="../assets/iconEmail.png" alt="Icon Email" />sikfifkgnmss@gmail.com
            </div>
            <div>
              <img src="../assets/iconTelephone.png" alt="Icon Telephone" />958585412225
            </div>
          </address>
        </section>
      </aside>
      <header>
        <div class="header-container">
          <button class="button-menu">
            <img src="../assets/button-menu.png" alt="Button Menu">
          </button>
          <div>
            <h1>Trackgenix</h1>
            <p>by GigaTech Software Solutions SA</p>
          </div>
        </div>
      </header>
      <main>
        <section class="timeTracker-container">
          <img src="../assets/imgPrimary.png" alt="Img Primary" />
          <div>
            <h2>Time tracker for teams</h2>
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>
              Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
              In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in
              hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula
              consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
              quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
              interdum eu. Curabitur pellentesque nibh nibh, at maximus ante
              fermentum sit amet. Pellentesque commodo lacus at sodales sodales.
              Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
              In iaculis arcu eros, eget tempus orci facilisis id.
            </p>
            <a href="">LEARN MORE</a>
          </div>
        </section>
        <section class="functions-container">
          <h2>Functions</h2>
          <div class="trackWorkHours-management">
            <img src="../assets/iconTime.png" alt="Icon Time" />
            <h3>Track work hours</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
              mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
              vitae mattis tellus..
            </p>
          </div>
          <div class="reports-multipleRoles">
            <img src="../assets/iconReports.png" alt="Icon Reports" />
            <h3>Reports</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
              mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
              vitae mattis tellus..
            </p>
          </div>
          <div class="trackWorkHours-management">
            <img src="../assets/iconResources.png" alt="Icon Resources" />
            <h3>Management</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
              mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
              vitae mattis tellus..
            </p>
          </div>
          <div class="reports-multipleRoles">
            <img src="../assets/iconRoles.png" alt="Icon Roles" />
            <h3>Multiple roles</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
              mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
              vitae mattis tellus..
            </p>
          </div>
        </section>
        <section class="article-container">
          <h2>Why track time with Trackgenix?</h2>
          <div class="articles">
            <div class="article">
              <h3>Boost Productivity</h3>
              <img src="../assets/iconBoost.png" alt="Boost Productivity" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien dcveve f
                vesv vev.
              </p>
            </div>
            <div class="article">
              <h3>Manage team</h3>
              <img src="../assets/iconMultipleRoles.png" alt="Manage Team" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien dcveve f
                vesv vev.
              </p>
            </div>
            <div class="article">
              <h3>Business intelligence</h3>
              <img src="../assets/iconBusinessIntelligence.png" alt="Business Intelligence" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien dcveve f
                vesv vev.
              </p>
            </div>
            <div class="article">
              <h3>Decision-making</h3>
              <img src="../assets/iconDecisionMaking.png" alt="Decision-making" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien dcveve f
                vesv vev.
              </p>
            </div>
          </div>
        </section>
        <section class="contact-container">
          <h2>Contact us</h2>
          <form>
            <input type="text" name="user_name" placeholder="Name" class="input-contact" />
            <input type="email" name="user_mail" placeholder="Email" class="input-contact" />
            <select name="area">
              <option value="" disabled selected>Area</option>
              <option value="">Administration</option>
              <option value="">Support</option>
              <option value="">Reception</option>
            </select>
            <label for="message">Message</label>
            <textarea id="message" placeholder="Text" rows="7"></textarea>
            <input type="submit" value="Submit" class="submit" />
            <input type="reset" value="Reset" class="reset" />
          </form>
        </section>
        <section class="aboutUs-container">
          <h2>About us</h2>
          <div class="aboutUs-container-mobile">
            <div class="aboutUs-mobile">
              <h3>Lorem</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque
                sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
                quis
                imperdiet augue. Vestibulum auctor ornare leo, non suscipit .</p>
            </div>
            <img src="../assets/imgSecondary.png" alt="Img Secondary" class="img-secondary">
          </div>
          <h3>Amet Aungue</h3>
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
            mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
            mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
            tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
            suscipit magna interdum eu.
          </p>
          <h3 class="second-title">Lorem</h3>
          <div>
            <p class="paragraphs">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
              tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
              augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
              ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
              suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing e
            </p>
            <p class="paragraphs">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
              tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
              augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
              ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
              suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing e
            </p>
            <img src="../assets/imgSecondary.png" alt="Img Secondary" class="imgSecondary" />
            <p class="paragraphs">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
              Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
              tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
              fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet
              augue. Vestibulum auctor ornare leo, non suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
              ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
              suscipit .Lorem ipsum dolor sit amet, consectetur adipiscing e
            </p>
          </div>
        </section>
        <section class="lists-container">
          <div class="lists-groups">
            <div class="lists">
              <h3>Product</h3>
              <ol>
                <li><a href="">Functionalities</a></li>
                <li><a href="">Integrations</a></li>
                <li><a href="">Download</a></li>
                <li><a href="">Extra</a></li>
              </ol>
            </div>
            <div class="lists">
              <h3>Company</h3>
              <ol>
                <li><a href="">About us</a></li>
                <li><a href="">Customers</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Blog</a></li>
              </ol>
            </div>
            <div class="lists">
              <h3>Support</h3>
              <ol>
                <li><a href="">Help</a></li>
                <li><a href="">Tutorials</a></li>
                <li><a href="">Api</a></li>
                <li><a href="">Contact</a></li>
              </ol>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <section class="footer-container">
          <div>
            <a href="https://www.facebook.com/"><img src="../assets/iconFacebook.png" alt="Icon Facebook" /></a>
            <a href="https://www.linkedin.com/"><img src="../assets/iconLinkedin.png" alt="Icon Linkedin" /></a>
            <a href="https://twitter.com/"><img src="../assets/iconTwitter.png" alt="Icon Twitter" /></a>
            <a href="https://www.instagram.com/"><img src="../assets/iconInstagram.png" alt="Icon Instagram" /></a>
            <a href="https://github.com/"><img src="../assets/iconGithub.png" alt="Icon Github" /></a>
          </div>
          <p>Montevideo, Uruguay</p>
          <p>Copyright © 2022 GigaTech Software Solutions SA</p>
        </section>
      </footer>
    </body>
  </html>