<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../styles/reset.css">
            <link rel="stylesheet" href="../styles/style.css">
            <link rel="stylesheet" href="../styles/sign-up.css">
            <script src="../javascript/sign-up.js"></script>
            <title>Sign Up Trackgenix</title>
        </head>
        <body>
            <header>
                <h1>TRACKGENIX</h1>
            </header>
            <main>
                <a href="../views/index.html" class="home">Home</a>
                <div>
                    <h2>Sign Up</h2>
                    <form>
                        <div>
                            <label for="firstName">First Name</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="lastName">Last Name</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="dni">DNI</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="birthDate">Birth Date</label>
                            <input type="date" required />
                        </div>
                        <div>
                            <label for="phone">Phone</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="address">Address</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="city">City</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <label for="postalCode">Postal Code</label>
                            <input type="text" required />
                        </div>
                        <div class="email">
                            <img src="../assets/iconEmailSignUp.png" alt="Icon Email" />
                            <label for="email">Email</label>
                            <input type="text" required />
                        </div>
                        <div>
                            <img src="../assets/iconPasswordSignUp.png" alt="Icon Password" />
                            <label for="password">Password</label>
                            <input type="password" required />
                        </div>
                        <div>
                            <img src="../assets/iconPasswordSignUp.png" alt="Icon Password" />
                            <label for="password">Repeat password</label>
                            <input type="password" required />
                        </div>
                        <p>Already have and account?<a href="../views/login.html"> Sign In</a></p>
                        <button class="button-create" type="submit">CREATE ACCOUNT</button>
                    </form>
                </div>
            </main>
        </body>
    </html>