.footer-container {
  padding-bottom: 30px;
}

.footer-container img {
  width: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.footer-container div {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.footer-container p {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
}