.timeTracker-container {
  display: flex;
  flex-direction: column;
}

.timeTracker-container img {
  max-width: 400px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.timeTracker-container div h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.timeTracker-container div h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.timeTracker-container div p {
  font-size: 12px;
  padding-bottom: 40px;
}

.timeTracker-container div a {
  padding: 14px 36px;
  background-color: #49a37b;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.functions-container h2,
.article-container h2,
.contact-container h2,
.aboutUs-container h2 {
  padding-bottom: 7px;
  width: fit-content;
  margin-bottom: 40px;
  border-bottom: 4px solid #49a37b;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.functions-container div {
  margin-bottom: 30px;
}

.functions-container img {
  margin-bottom: 19px;
}

.functions-container h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.functions-container p {
  font-size: 12px;
  font-weight: 400;
}

.article {
  position: relative;
  display: inline-block;
  width: 15%;
  min-width: 220px;
  background-color: #ffffff;
  color: #373867;
  border-radius: 17px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.article img {
  position: absolute;
  right: 7px;
  top: 7px;
  margin-bottom: 10px;
  height: auto;
}

.article h3 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
  padding-top: 15px;
}

.article p {
  width: 85%;
  padding-left: 25px;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 25px;
}

form {
  position: relative;
}

form input,
form select,
form textarea {
  margin-bottom: 50px;
  padding: 7px;
  border: 1px solid #ffffff;
  background: none;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
}

form option {
  color: #373867;
}

.contact-container label {
  display: block;
  padding-bottom: 10px;
}

.submit {
  margin-right: 20px;
  padding: 10px 24px;
  border: 0;
  background: #49a37b;
  border-radius: 5px;
  color: #ffffff;
  width: 100px;
}

.reset {
  padding: 10px 24px;
  border: 0;
  background: #f13312;
  border-radius: 5px;
  color: #ffffff;
  width: 100px;
}

.second-title {
  display: none;
}

.paragraphs {
  display: none;
}

.imgSecondary {
  display: none;
}

.aboutUs-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 25px;
}

.aboutUs-container h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.aboutUs-container-mobile {
  display: flex;
  justify-content: space-between;
}

.aboutUs-mobile {
  width: 45%;
}

.paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-style: italic;
  border-left: 1px solid white;
  padding-left: 25px;
  text-align: justify;
}

.aboutUs-container img {
  width: 169px;
  align-self: center;
}

.about-tittle {
  display: none;
}

.lists-container h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.lists {
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.lists a {
  color: #ffffff;
  text-decoration: none;
}

.lists-container li {
  list-style: decimal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: 480px) {
  .timeTracker-container p {
    line-height: 30px;
  }

  .lists-groups {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article {
    width: 40%;
  }

  .input-contact {
    width: 45%;
  }

  .imgSecondary {
    display: block;
  }
}

@media (min-width: 1024px) {
  .timeTracker-container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .functions-container div {
    display: inline-block;
    width: 42%;
    margin-bottom: 70px;
    padding-left: 20px;
  }

  .functions-container div {
    width: 44%;
  }

  .second-title {
    display: block;
  }

  .paragraphs {
    display: block;
  }
}
